{% extends "registration/basefinal.html" %}
{% load bootstrap3 %}

{% block finalcontent %}
<h1>Письмо с инструкциями по восстановлению пароля отправлено</h1>
<p>
  Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.
</p>
<p>
  Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.
</p>
<a href="{% url "newapp.views.index" %}">Съебаццо на глагне</a>
{% endblock finalcontent %}
