{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Webm</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="icon" type="image/png" href="{% static "img/favicon.png" %}">
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "home" %}">WillBeams</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="{% if active == "new" %}active{% endif %}"><a href="{% url "newapp.views.new_videos" %}">Новые</a></li>
            {% if user.is_authenticated %}
            <li class="{% if active == "liked" %}active{% endif %}"><a href="{% url "newapp.views.liked_videos" %}">Понравившиеся</a></li>
            <li class="{% if active == "favourite" %}active{% endif %}"><a href="{% url "newapp.views.favourite_videos" %}">Избранные</a></li>
            {% endif %}
            {% if active == "tag" %}
            <li class="active"><a href="{% url "newapp.views.tag_videos" tag=tag %}">Тег {{ tag }}</a></li>
            {% endif %}
            {% if active == "usertag" %}
            <li class="active"><a href="{% url "newapp.views.usertag_videos" tag=tag %}">Польз. тег {{ tag }}</a></li>
            {% endif %}
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Поиск по тегам">
            </div>
            <!-- <button type="submit" class="btn btn-default">Submit</button> -->
          </form>
          <ul class="nav navbar-nav navbar-right">
            {% if not user.is_authenticated %}
            <li class="{% if active == "register" %}active{% endif %}"><a href="{% url "newapp.views.register" %}">Регистрация</a></li>
            <li class="{% if active == "login" %}active{% endif %}"><a href="{% url "django.contrib.auth.views.login" %}">Вход</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url "django.contrib.auth.views.password_change" %}">Сменить пароль</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url "newapp.views.logout" %}">Выход</a></li>
              </ul>
            </li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
      {% block content %}
      <div class="row">
        <div class="col-xs-12">
          <h1>webm</h1>
        </div>
      </div>
      {% endblock content %}
    </div>

    <script src="{% static "js/jquery-2.1.4.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    {% block bodyjs %}
    {% endblock %}
  </body>
</html>
