{% load pagination %}
{% if list.paginator.num_pages > 1 %}
{% pagination list 3 as p %}
<nav>
  <ul class="pagination">
    {% if list.has_previous %}
    <li><a href="?page={{ list.previous_page_number }}">&larr; туда</a></li>
    {% endif %}

    {% if p.left_end %}
      <li><a href="?page={{ p.left_end }}">{{ p.left_end }}</a></li>
    {% endif %}
    {% if p.left_ellipsis %}
      <li class="disabled"><span style="cursor: default !important;">&hellip;</span></li>
    {% endif %}

    {% for n in p.left_items %}
      <li><a href="?page={{ n }}">{{ n }}</a></li>
    {% endfor %}

    <li class="active"><span>{{ list.number }}</span></li>

    {% for n in p.right_items %}
      <li><a href="?page={{ n }}">{{ n }}</a></li>
    {% endfor %}

    {% if p.right_ellipsis %}
    <li class="disabled"><span style="cursor: default !important;">&hellip;</span></li>
    {% endif %}
    {% if p.right_end %}
    <li><a href="?page={{ p.right_end }}">{{ p.right_end }}</a></li>
    {% endif %}

    {% if list.has_next %}
    <li><a href="?page={{ list.next_page_number }}">сюда &rarr;</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
