{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

<div class="row">
  <div class="col-xs-12 video-view">
    <div class="panel panel-default" style="{% if webm.width %}width: {{ webm.width|add:36 }}px;{% endif %}max-width: 100%; margin: 0 auto; ">
      <div class="panel-body">
        <video src="{{ webm.video.url }}" controls>
          Your browser does not support the <code>video</code> element.
        </video>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <nav>
      <ul class="pager">
        {% if prev %}
        <li class="previous"><a href="{% url "newapp.views.video" vid=prev.pk %}">&larr; предыдущее</a></li>
        {% endif %}
        {% if next %}
        <li class="next"><a href="{% url "newapp.views.video" vid=next.pk %}">следующее &rarr;</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>

{% endblock content %}
