{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block content %}

<div class="row">
  <div class="col-xs-12 video-view">
    <div class="panel panel-default" style="{% if webm.width %}width: {{ webm.width|add:36 }}px;{% endif %}max-width: 100%; margin: 0 auto; ">
      <div class="panel-body">
        <video src="{{ webm.video.url }}" controls>
          Your browser does not support the <code>video</code> element.
        </video>
      </div>
      <div class="panel-footer">
        {% if prev %}
        <a class="btn btn-default" href="{% url "newapp.views.video" vid=prev.pk %}">&larr; предыдущее</a>
        {% else %}
        <button class="btn btn-default" disabled="disabled">&larr; предыдущее</button>
        {% endif %}
        {% if user.is_authenticated %}
        <button class="btn {% if video_like %}btn-success active{% else %}btn-default{% endif %}"
          toggler-url="{% url "newapp.views.toggle_like" %}"
          data-aclass="btn-success"
          data-webm-id="{{ webm.id }}"
        ><span class="glyphicon glyphicon-heart"></span> Лойс</button>

        <button class="btn {% if video_favourite %}btn-success active{% else %}btn-default{% endif %}"
          toggler-url="{% url "newapp.views.toggle_favourite" %}"
          data-aclass="btn-success"
          data-webm-id="{{ webm.id }}"
        ><span class="glyphicon glyphicon-star"></span> Избранное</button>

        <button class="btn {% if video_nsfw %}btn-warning active{% else %}btn-default{% endif %}"
          toggler-url="{% url "newapp.views.toggle_nsfw" %}"
          data-aclass="btn-warning"
          data-webm-id="{{ webm.id }}"
        ><span class="glyphicon glyphicon-hand-up"></span> NSFW</button>
        {% if is_superuser %}
        <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Удалить</button>
        {% endif %}
        {% endif %}
        {% if next %}
        <a class="btn btn-default" href="{% url "newapp.views.video" vid=next.pk %}">следующее &rarr;</a>
        {% else %}
        <button class="btn btn-default" disabled="disabled">следующее &rarr;</button>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block bodyjs %}
{{ block.super }}
{% include "csrf.inc.html" %}
<script src="{% static "js/view.js" %}"></script>
{% endblock %}
