body { padding-top: 70px; }



.default-thumb {
    background: url("../img/defthumb.png") center center no-repeat transparent;
    background-size: contain;
}
.test-thumb {
    background: url("../img/webm_test_bg.jpg") center center no-repeat transparent;
    background-size: cover;
}
.video-item > .panel {
    overflow: hidden;
}
.video-view .panel-body {
    text-align: center;
}
.video-view video {
    max-width: 100%;
}



/* Recipe for fixed width/height ratio blocks */
/* http://www.mademyday.de/css-height-equals-width-with-pure-css.html */
.ratio-box{
	position: relative;
	width: 100%;		/* desired width */
}
.ratio-box:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}
.ratio-box-content{
    display: block; /* for block links <a> */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.ratio2_1:before{
	padding-top: 50%;
}
.ratio1_2:before{
	padding-top: 200%;
}
.ratio4_3:before{
	padding-top: 75%;
}
.ratio16_9:before{
	padding-top: 56.25%;
}
